<%- include("partials/header") -%>

<div class="ui main container">
    <div class="ui huge centered header">Blogs List</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(blog => { %>
            <div class="item">
                <div class="image">
                    <img src="<%= blog.image %>" alt="" />
                </div>
                <div class="content">
                    <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                    <div class="meta">
                        <span><%= blog.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p>
                            <%- blog.body.substring(0, 100) %>...<a href="/blogs/<%= blog._id %>">Read more
                                <i class="right angle double right icon"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>