<%- include("partials/header") -%>

<div class="ui main container">
    <h1>Blogs List</h1>

    <% blogs.forEach(blog => { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="">
        <span><%= blog.created %></span>
        <p><%= blog.body.substring(0, 100) %>...<a href="/blogs/<%= blog.id %>">Read more</a></p>
        <br><br>
    </div>
    <% }) %>

</div>

<%- include("partials/footer") -%>